<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg mt-5">
          <div class="card-header text-center py-4 border-0">
              <h1 class="display-6 fw-bold">ToDo List</h1>
          </div>
          <div class="card-body p-4">
              <ul class="list-group">
                  <li class="list-group mb-2 border py-0 rounded-3">
                      <div class="input-group">
                          <input type="text" [(ngModel)]="title"   class="form-control border-0 py-3"
                               >
                          <button class="btn btn-outline-secondary" (click)="!!title && handleAddToDoItemClick()">
                              Ekle
                          </button>
                      </div>
                  </li>
                  <li class="list-group-item mb-2 border py-3 rounded-3" *ngFor="let item of itemList">
                      <span>
                        <input type="checkbox" style="size:50px ;"  [(ngModel)]="item.checked">        
                         <span [ngStyle]="{'text-decoration': (item.checked) ? 'line-through' : ''}" style="margin-left:5px ;">{{item.title}}</span>

                          <span class="float-end text-secondary" (click)="handleDeleteItemClick(item.id)">
                              <i style="color:red; font-size: 40px;" class="fa-solid fa-square-xmark"></i>
                          </span>
                      </span>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>